* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.display-flex {
    display: flex;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.desc {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 20px;
}

.primary {
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
    margin-right: 10px;
}

.secondary {
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: transparent;
    cursor: pointer;
    border: 1px solid grey;
}

/* Nav section starts from here.... */

.nav-brand {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.home {
    background-color: rgb(230, 83, 60);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.header {
    max-width: 1700px;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header nav li {
    list-style: none;
}

.header nav li a {
    text-decoration: none;
    margin: 0px 30px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}


/* Nav section ends here.... */


/* Banner section starts from here... */

.banner {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.banner-content {
    margin-right: 200px;
    text-align: left;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 30px 0;
}

.shape {
    font-family:sans-serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
}

.banner-image {
    width: 700px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-left: 200px;
    position: relative;
}

.banner-image span {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
}


.card1 {
    position: absolute;
    width: 193px;
    height: 98px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
    backdrop-filter: blur(15.12px);
    background: rgba(255, 255, 255, 0.1);
    bottom: 350px;
    left: 290px;
}

.card2 {
    position: absolute;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
    backdrop-filter: blur(15.12px);
    background: rgba(255, 255, 255, 0.1);
    bottom: 60px;
    left: -50px;
    padding: 10px 20px;
}

.card2 h2 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 8px;
}

.card2 .desc {
    text-align: left;
}

.card2-content {
    width: 150px;
    height: 55px;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
}

.card1-content {
    width: 160px;
    height: 70px;
    margin-top: 7px;
}

.card1-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.card1-content p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.curcle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    bottom: 27px;
    
}


/* Banner section ends here... */


/* Change habits section starts from here... */

.change-your-habits {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 300px;
    height: 350px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    }

.card p {
    text-align: center;
    max-width: 270px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.card-container {
    align-items: center;
    justify-content: center;
    height: 500px;
}

.card-title {
    color: white;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

/* Change habits section ends here... */


/* Run section starts from here... */

.run {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.run-image img {
    max-width: 430px;
    height: 320px;
    border-radius: 30px;
}

.run-content {
    width: 700px;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.run-content h1 {
    width: 400px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.run-content p {
    width: 500px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 20px;
}


/* Run section ends here... */


/* BMI section starts here */

.bmi-section {
    max-width: 1700px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.bmi-function {
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
    margin-bottom: 100px;
}

.table {
    width: 310px;
    height: 216px;
    text-align: left;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
}

th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.calculate-bmi h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.calculate-bmi p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
}


.bmi-chart h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.calculate-bmi {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    width: 40%;
    height: 400px;
}

.bmi-chart {
    height: 400px;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.calculate-bmi input {
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    margin-top: 8px;
    color: white;
}

.calculate-bmi button {
    margin-top: 20px;
}

#special-input {
    width: 570px;
}

/* BMI section ends here */


/* Meet our team section starts.... */

.meet-our-team {
    max-width: 1800px;
    margin: 0 auto;
    color: white;
    flex-direction: column;
    align-items: center;
}

.trainer-img {
    width: 400px;
    height: 330px;
    border-radius: 20px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 0;
}


/* Meet our team section ends.... */


/* Footer section starts here */

footer {
    max-width: 100%;
    margin: 0 auto;
    height: 500px;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.footer-content p {
    width: 400px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.footer-content h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-content ul li {
    list-style: none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 30px;
}


/* Footer section ends here */

/* Respondive part starts from here... */

@media screen and (max-width: 576px){
    .header {
        width: 100%;
        padding-left: 20px;
        overflow: hidden;
        margin-top: 40px;
    }

    .nav-items {
        width: 100%;
        visibility: hidden;
        overflow: hidden;
    }

    .nav-brand {
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 36px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }

    .banner {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        overflow: hidden;
    }

    .banner-content {
        width: 90%;
        overflow: hidden;
        padding-left: 20px;
        text-align: left;
    }

    .banner-content h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        width: 285px;
        height: 129px;
    }

    .banner-image {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .banner-image img {
        width: 353px;
        height: 588px;
        text-align: center;
        overflow: hidden;
    }

    .card1 {
        width: 145px;
        height: 74px;
        bottom: 300px;
        left: 280px;
    }

    .card1 h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 30.24px;
        font-weight: 900;
        line-height: 30.24px;
        letter-spacing: 0.76px;
        text-align: left;
        margin-bottom: 5px;
    }

    .card1 p {
        color: rgba(255, 255, 255, 0.65);
        font-family: Inter;
        font-size: 9.83px;
        font-weight: 400;
        line-height: 15.12px;
        letter-spacing: 0.76px;
        text-align: left;
    }

    .card1-content {
        width: 130px;
        height: 60px;
        margin-top: -1px;
    }

    .card2 {
        width: 170px;
        height: 72px;
        left: 90px;
    }

    .card2 h2 {
        color: rgb(250, 250, 249);
        font-family: Inter;
        font-size: 18.14px;
        font-weight: 900;
        line-height: 18.14px;
        letter-spacing: 0.23px;
        text-align: left;
    }

    .card2 p {
        color: rgba(239, 237, 232, 0.65);
        font-family: Inter;
        font-size: 12.1px;
        font-weight: 400;
        line-height: 18.14px;
        letter-spacing: 0.38px;
        text-align: left;
    }

    .curcle {
        top: 15px;
    }

    .card2-content {
        width: 104px;
        height: 50px;
        margin-right: -10px;
        margin-top: 5px;
    }

    .btn-container {
        max-width: 100%;
        height: 100px;
        margin-left: 25px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        overflow: hidden;
    }

    .card-container {
        flex-direction: column;
        margin-top: 20px;
        height: 1350px;
        width: 100%;
    }

    .card-description {
        margin-bottom: 50px;
        max-width: 100%;
    }

    .card {
        max-width: 90%;
        margin-top: 30px;
        padding: 10px;
    }

    .change-your-habits {
        margin-top: 0px;
        width: 100%;
    }

    .change-your-habits h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
    }

    .change-your-habits .desc {
        width: 90%;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
        margin: 0 auto;
    }

    .run {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 800px;
        overflow: hidden;

    }

    .run-content {
        max-width: 90%;
        margin-left: 0;
    }

    .run-content h1 {
        max-width: 90%;
    }

    .run-content p {
        max-width: 90%;
    }

    .run-content .primary {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 98%;
    }

    .run-image {
        max-width: 90%;
        margin: 0 auto;
    }

    .run-image img {
        max-width: 100%;
    }

    .bmi-section {
        width: 100%;
    }

    .bmi-title {
        padding: 0 10px 0 25px;
    }

    .bmi-title p {
        width: 100%;
    }

    .bmi-function {
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        height: 1000px;
    }

    .bmi-chart {
        width: 100%;
    }

    .calculate-bmi {
        width: 100%;
        height: 500px;
    }

    .calculate-bmi h2,p,form {
        width: 90%;
    }

    .calculate-bmi form input {
        width: 80%;
        margin-top: 10px;
    }

    #special-input {
        width: 80%
    }

    .image-container {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .team-title p {
        width: 100%;
        padding: 0 10px;
    }

    .meet-our-team {
        margin-top: 80px;
    }

    .meet-our-team p {
        width: 90%;

    }

    .footer-content {
        flex-direction: column;
    }

    footer {
        height: 1100px;
    }

    .footer-list {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 80px;
        margin-left: 30px;
    }

    .footer-content div {
        width: 90%;
        margin-left: 30px;
    }

    footer p {
        margin-left: 25px;
    }

    .footer-content div p {
        margin-left: 0px;
        width: 90%;
    }
}